bitsandbytes==0.46.0
datasets==3.6.0
fastapi==0.115.12
fire==0.7.0
galore_torch==1.0
gradio==5.33.1
jieba==0.42.1
matplotlib==3.10.3
MoD==0.3.0
modelscope==1.26.0
nltk==3.9.1
numpy==2.3.0
openai==1.85.0
packaging==25.0
pandas==2.3.0
peft==0.15.2
Pillow==11.2.1
psutil==6.1.0
pycocoevalcap==1.2
pydantic==2.11.5
pytest==8.4.0
PyYAML==6.0.2
PyYAML==6.0.2
Requests==2.32.4
rouge_chinese==1.0.3
safetensors==0.5.3
scikit_learn==1.7.0
scipy==1.15.3
setuptools==65.5.0
sse_starlette==2.3.6
torch==2.5.0
tqdm==4.67.1
transformers==4.52.4
trl==0.18.1
typing_extensions==4.14.0
uvicorn==0.34.3
vllm==0.9.0.1
xlsxwriter==3.2.3
